html {
  scroll-behavior: smooth;
}

body {
  background-color: #331e05;
  padding-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: grid;
    grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "intro"
    "intro"
    "about"
    "previous"
    "projects"
    "contact";
}

p {
  color: #e3d9c9;
  font-size: 25px;
}

nav {
    margin: 0;
    height: 0;
    animation: fadeIn 2s;
}

.hidden {
  display: none;
}

.flex-container {
  background-color: #c59366;
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 0px;
  margin: 10px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 10px solid #8d714f;
  border-left: 10px solid #8d714f;
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.flex-item {
  width: 20vw;
  max-height: 10vh;
  font-size: 18px;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

.link-text {
  width: 20vw;
  max-height: 10vh;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  line-height: 80px;
  color: #331e05;
}

.flex-item:hover {
  background-color: #331e05;
  color: #e3d9c9;
  border-radius: 10px;
}

.link-text:hover {
  color: #e3d9c9;
}

.introTextBox {
  grid-area: intro;
  max-width: 95vw;
  min-height: 95vh;
  top: 0;
  left: 0;
  padding-bottom: 200px;
}

#introText {
  color: #e3d9c9;
  font-size: 7.5vw;
  max-width: 85vw;
  margin-left: 20px;
  overflow: hidden;
}

#startButton {
  text-decoration: none;
  min-height: 20vh;
  min-width: 30vw;
  font-size: 4vw;
  margin-top: -250px;
  background-color: #c59366;
  float: right;
  color: #331e05;
  border-radius: 10px;
  font-weight: bold;
  border-bottom: 10px solid #8d714f;
  border-left: 10px solid #8d714f;
  animation: fadeIn 3.5s;
}

#startButton:hover {
  background-color: #331e05;
  color: #e3d9c9;
  border: 2px solid #c59366;
  border-bottom: 10px solid #c59366;
  border-left: 10px solid #c59366;
}

.section {
    background-color: #c59366;
    margin: 50px 10px 10px 10px;
    border-radius: 10px;
    border-bottom: 10px solid #8d714f;
    border-left: 10px solid #8d714f;
}

.sectionHeader {
    font-size: 3vw;
    color: #331e05;
    margin: 20px;
    border-bottom: 4px solid #331e05;
    text-align: left;
}

.image {
    border-radius: 10px;
    border: 10px solid #8d714f;
}

.anchor {
    padding: 10vh;
}

#aboutSection {
    grid-area: about;
    min-height: 50vh;
    max-width: 70vw;
    margin: 0 auto;
    float: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#aboutContent{
    display: inline-flex;
}

#myImage {
   max-width: 25vw;
   max-height: 65vh;
    margin-left: 20px;
}

.aboutText{
    max-width: 35vw;
    min-height: 0vw;
    padding-left: 30px;
    color: #331e05;
}

#previousSection {
    grid-area: previous;
    text-align: center;
    margin: 0 auto;
    max-width: 45vw;
    max-height: 110vh;
    padding-top: 1px;
    padding-bottom: 20px;
}

#resume {
    max-width: 38vw;
    max-height: 100vh;
}

#projectsSection {
  max-width: 70vw;
  min-height: 50vh;
  margin: 0 auto;
  float: center;
  padding-top: 1px;
}

#projectsContent {
  text-align: center;
}

.project {
  background-color: #331e05;
  min-height: 55vh;
  min-width: 25vw;
  margin: 1vw;
  display: inline-block;
  border-radius: 10px;
  border: 10px solid #8d714f;
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}

#contactSection{
  margin: 0 auto;
  text-align: center;
  max-width: 30vw;
}

.form {
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #331e05;
  max-width: 25vw;
  min-height: 50vh;
  max-height: 60vh;
}

.form-element {
  font-weight: bold;
  text-align: left;
  margin: 100px 20px 0px 20px;
  color: #e3d9c9;
  font-size: 2vw;
}

.form-box {
  max-width: 10vw;
  min-height: 2vw;
  border-radius: 10px;
  margin: 10px;
  float: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
